@import "variables";

.pagination{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
            &__img{
                margin-top: 1rem;
            }
            &__inf{
                width: 1000px;
                height: 362px;
                background-color:#96C5DC;
                margin: 2rem auto 3rem;
                border-radius: .5rem;
                text-align: center;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                flex-wrap: wrap;
                line-height: 1.9rem;
                 h2{
                     font-size: 32px;
                     font-weight: 700;
                     color: #1078AD;
                 }
                 p{
                     font-size: 15px;
                     font-weight: 400;
                     color: #000;
                 }
                 hr{
                     width: 199px;
                     align-self: center;
                     border-top:#F4CF1B 2px solid;
                 }
            }
            &__buttonstart{
                color:#fff ;
                font-size:34px ;
                font-weight:700 ;
                padding: 20px 50px;
                background-color: #1078AD;
                margin-bottom: 4rem;
                border-radius: .4rem;
                    a{
                        color: #fff;
                    }
            }
}